variable "access_key" {
    description = "The access key of the TerraformInJays, which will be used in terraform script."
    type        = string
    default     = Get the value from AWS console
}

variable "secret_key" {
    description = "The secret key of the TerraformInJays, which will be used in terraform script."
    type        = string
    default     = Get the value from AWS console
}

variable "region" {
    description = "The region of AWS resources."
    type        = string
    default     = "The_Region"
}