variable "account_number" {
    description = "The account number of the AWS account, remember all users are sharing the same account number."
    type        = string
    default     = "Your_Account_Number"
}